<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Tenant Profile</h1>
      </div>
      
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-circle"
                   src="assets/rentrealm_logo_for_sure.png"
                   alt="Tenant profile picture">
            </div>

            <h3 class="profile-username text-center">{{ tenant?.user_profile?.user ?.name}}</h3>

            <p class="text-muted text-center">Tenant</p>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Active Rental Agreements</b> 
                <!-- Loop through rental_agreements and display each one -->
                <ul class="list-unstyled mt-2">
                  <li *ngFor="let rental of rentalAgreements">
                    <span>{{ rental.agreement_code }} - {{rental.status}} - {{ rental.rent_start_date | date: 'longDate' }}</span>
                  </li>
                </ul>
              </li>
              <li class="list-group-item">
                <b>Room Rented</b> 
                <ul class="list-unstyled mt-2">
                  <li *ngFor="let rental of rentalAgreements">
                    <span> {{rental.reservation.room.property?.name}} - {{rental.reservation.room.room_code}}</span>
                  </li>
                </ul>
              </li>
              <li class="list-group-item">
                <b>Due Dates</b> 
                <!-- <a class="float-right">$850</a> -->
                <ul class="list-unstyled mt-2">
                  <li *ngFor="let rental of rentalAgreements">
                    <span>{{rental.agreement_code}} - {{rental.next_billing_month | date: 'longDate'}}</span>
                  </li>
                </ul>
              </li>
            </ul>
            <button class="btn btn-primary btn-block" (click)="manualPaymentRentModal()">
              <b>Manual Pay Rent</b>
            </button>
            <!-- <a class="btn btn-primary btn-block"><b>Manual Pay Rent</b></a> -->
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- About Me Box -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Tenant Details</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <strong><i class="fas fa-user mr-1"></i> {{tenant?.user_profile?.user?.name}}</strong>

            <p class="text-muted">
              {{tenant?.user_profile?.occupation}}
            </p>

            <hr>

            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

            <p class="text-muted">{{tenant?.user_profile?.address?.line_1}} {{tenant?.user_profile?.address?.line_2}} {{tenant?.user_profile?.address?.province}} {{tenant?.user_profile?.address?.postal_code}}</p>

            <hr>

            <strong><i class="fas fa-phone mr-1"></i> Contact</strong>

            <p class="text-muted">{{tenant?.user_profile?.phone_number}}</p>

            <hr>

            
            <!-- <li class="list-group-item"> -->
              <strong><i class="fas fa-id-card mr-1"></i> Identification Numbers</strong>
            
              <p class="text-muted mb-0">Driver's License: {{ tenant?.user_profile?.driver_license_number || 'not provided' }}</p>
              <p class="text-muted mb-0">National ID: {{ tenant?.user_profile?.national_id || 'not provided' }}</p>
              <p class="text-muted mb-0">Passport Number: {{ tenant?.user_profile?.passport_number || 'not provided' }}</p>
              <p class="text-muted mb-0">SSS Number: {{ tenant?.user_profile?.social_security_number || 'not provided' }}</p>
            <!-- </li> -->
      
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->

      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Recent Activity</a></li>
              <li class="nav-item"><a class="nav-link" href="#payments" data-toggle="tab">Payment History</a></li>
              <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Profile Settings</a></li>
            </ul>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <!-- Recent Activity -->
                <div class="post" *ngFor="let note of notifications">
                  <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="assets/rentrealm_logo_for_sure.png" alt="Tenant Image" />
                    <span class="username">
                      <a href="#">{{ tenant?.user_profile?.user?.name }}</a>
                    </span>
                    <span class="description">{{ note.created_at | date:'short' }}</span>
                  </div>
                  <h5>{{note.title}}</h5>
                  <p>{{ note.message }}</p>
                  <!-- <p>
                    <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Share</a>
                    <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like</a>
                    <span class="float-right">
                      <a href="#" class="link-black text-sm">
                        <i class="far fa-comments mr-1"></i> Comments (0)
                      </a>
                    </span>
                  </p> -->
                  <!-- <input class="form-control form-control-sm" type="text" placeholder="Type a comment" /> -->
                </div>
                <!-- /.post -->
              </div>
              <!-- /.tab-pane -->

              <div class="tab-pane" id="payments">
                <div class="timeline timeline-inverse" *ngFor="let payments of paymentHistory">
                  <div class="time-label">
                    <span class="bg-success">{{payments.billing_month | date: 'MMMM YYYY'}}</span>
                  </div>
                  <div>
                    <i class="fas fa-money-bill-alt bg-primary"></i>
                    <div class="timeline-item">
                      <h3 class="timeline-header"><a href="#">{{payments.billing_title}}</a></h3>
                      <div class="timeline-body">
                        {{payments.billing_title}} for {{payments.rental_agreement?.agreement_code}} on {{ payments.billing_month | date: 'MMMM yyyy' }} amounting to ₱{{payments.total_amount}} was successfully paid via {{ payments.payments?.[0]?.payment_method || 'N/A' }} on {{payments.payments?.[0]?.created_at | date: 'MMMM yyyy dd'}}

                        <!-- Paid $850 for Rent of Apartment 101. -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.tab-pane -->

              <div class="tab-pane" id="settings">
                <form class="form-horizontal">
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputName" [(ngModel)]="tenantName" name="name" placeholder="Full Name" value="Nina Mcintire">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" [(ngModel)]="tenantEmail" name="email" placeholder="Email" value="nina@example.com">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPhone" class="col-sm-2 col-form-label">Phone</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputPhone" [(ngModel)]="tenantPhone" name="phone_number" placeholder="Phone" value="(555) 123-4567">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <button type="submit" class="btn btn-danger">Update Profile</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<div #manualPayRentModal class="modal fade" id="manualPayRentModal" tabindex="-1" aria-labelledby="manualPayRentModalLabel"
  aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="manualPayRentModalLabel">Manual Pay Rent</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
      
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>