<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a [routerLink]="'/admin/dashboard'" class="brand-link">
  <img src="assets/rentrealm_logo_for_sure.png" alt="AdminLTE Logo" class="brand-logo">
 <span class="brand-text font-weight-light">RENTREALM</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        
        <li class="nav-item">
          <a [routerLink]="'/admin/dashboard'" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard <span class="right badge badge-danger">New</span></p>
          </a>
        </li>
          
        <li class="nav-item">
          <a [routerLink]="'/admin/properties'" class="nav-link">
            <i class="nav-icon fas fa-building"></i>
            <p>Properties</p>
          </a>
        </li>
              
        <li class="nav-item">
          <a [routerLink]="'/admin/tenant'" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>Tenants</p>
          </a>
        </li>
              
        <li class="nav-item">
          <a [routerLink]="'/admin/billingandpayment'" class="nav-link">
            <i class="nav-icon fas fa-receipt"></i>
            <p>Billing & Payment</p>
          </a>
        </li>
              
        <li class="nav-item">
          <a [routerLink]="'/admin/contract'" class="nav-link">
            <i class="nav-icon fas fa-file-contract"></i>
            <p>Contract</p>
          </a>
        </li>
              
        <li class="nav-item">
          <a [routerLink]="'/admin/maintenacerequest'" class="nav-link">
            <i class="nav-icon fas fa-tools"></i>
            <p>Maintenance</p>
          </a>
        </li>

        <li class="nav-item">
          <a [routerLink]="'/admin/reports'" class="nav-link">
            <i class="nav-icon fas fa-chart-bar"></i>
            <p>Reports</p>
          </a>
        </li>

        <li class="nav-item">
          <a [routerLink]="'/admin/map'" class="nav-link">
            <i class="nav-icon fas fa-map-marked-alt"></i>
            <p>Map</p>
          </a>
        </li>

        <li class="nav-item">
          <a [routerLink]="'/admin/settings'" class="nav-link">
            <i class="nav-icon fas fa-cog"></i>
            <p>Settings</p>
          </a>
        </li>
      
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
