<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a [routerLink]="'/admin/dashboard'" class="brand-link">
    <img src="/assets/rentrealm_logo_for_sure.png" alt="RENTREALM Logo" class="brand-logo">

 <span class="brand-text font-weight-light">RENTREALM</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        
        <li class="nav-item">
          <a [routerLink]="'/admin/dashboard'" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard <span class="right badge badge-danger">New</span></p>
          </a>
        </li>
          
        <li class="nav-item">
          <a [routerLink]="'/admin/properties'" class="nav-link">
            <i class="nav-icon fas fa-building"></i>
            <p>Properties</p>
          </a>
        </li>
              
        <li class="nav-item">
          <a [routerLink]="'/admin/tenant'" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>Tenants & User</p>
          </a>
        </li>
        <!-- <a [routerLink]="'/admin/Reservations'" routerLinkActive="active" class="nav-link"> -->
        <li class="nav-item">
          <a [routerLink]="'/admin/Reservations'" class="nav-link">
            <i class="nav-icon fas fa-calendar-check"></i>
            <p>Reservations</p>
          </a>
        </li>
        
              
        <li class="nav-item has-treeview" [class.menu-open]="isBillingSectionActive()">
          <a class="nav-link" [class.active]="isBillingSectionActive()">
            <i class="nav-icon fas fa-money-bill"></i>
            <p>
              Payments
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
        
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="'/admin/billing'" 
                 routerLinkActive="active" 
                 class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Billing List</p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="/admin/overdue-billings" 
                 routerLinkActive="active" 
                 class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Overdue Billings</p>
              </a>
            </li>
        
            <li class="nav-item">
              <a routerLink="/admin/payments-history" 
                 routerLinkActive="active" 
                 class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Payment History</p>
              </a>
            </li>
      
        
            <!-- <li class="nav-item">
              <a routerLink="/admin/refunds" 
                 routerLinkActive="active" 
                 class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Refund Requests</p>
              </a>
            </li> -->
          </ul>
        </li>
              
        <!-- <li class="nav-item">
          <a [routerLink]="'/admin/contract'" class="nav-link">
            <i class="nav-icon fas fa-file-contract"></i>
            <p>Contract</p>
          </a>
        </li> -->
        <li class="nav-item">
          <a [routerLink]="'/admin/contract'" class="nav-link">
            <i class="nav-icon fas fa-calendar-check"></i>
            <p>Agreements</p>
          </a>
        </li> 
        <!-- <li class="nav-item">
          <a [routerLink]="'/admin/maintenacerequest'" class="nav-link">
            <i class="nav-icon fas fa-tools"></i>
            <p>Maintenance</p>
          </a>
        </li> -->
        
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tools"></i>
            <p>
              Maintenance
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="'/admin/maintenacerequest'" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>All Requests</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Pending Requests</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>In Progress</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Completed Requests</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Handyman List</p>
              </a>
            </li>
          </ul>
        </li>
        

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-list"></i>
            <p>
              Reports
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
           
            <li class="nav-item">
              <a href="pages/UI/ribbons.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Tenant Reports
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/UI/ribbons.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Rent Collection Reports</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/UI/ribbons.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Occupancy Reports
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/UI/ribbons.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Maintenance Reports</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/UI/ribbons.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Audit Logs
                </p>
              </a>
            </li>

          </ul>
        </li>

        <li class="nav-item">
          <a [routerLink]="'/admin/map'" class="nav-link">
            <i class="nav-icon fas fa-map-marked-alt"></i>
            <p>Map</p>
          </a>
        </li>

        <li class="nav-item">
          <a [routerLink]="'/admin/settings'" class="nav-link">
            <i class="nav-icon fas fa-cog"></i>
            <p>Settings</p>
          </a>
        </li>


       
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>





