<div class="main-content">
    <div class="container-fluid">
        <div class="row g-2">
            <!-- First Column -->
            <div class="col-md-9">
                <!-- <div class="mb-3">
                    <p>lorem*100</p>
                </div> -->

                <!-- Test Table Card -->
                <div class="card">
                    <div class="card-header card-header-primary">
                        <div class="table-buttons-container">
                            <button class="btn btn-sm btn-primary">Pending</button>
                            <button class="btn btn-sm btn-success">Accepted</button>
                            <button class="btn btn-sm btn-danger">Rejected</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <h3 class="card-title">Contract table</h3>
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>test1</th>
                                        <th>test1</th>
                                        <th>test1</th>
                                        <th>test1</th>
                                        <th>test1</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>test2</td>
                                        <td>test2</td>
                                        <td>test2</td>
                                        <td>test2</td>
                                        <td>test2</td>
                                        <td class="td-buttons-container">
                                            <button class="btn btn-sm btn-primary">View</button>
                                            <button class="btn btn-sm btn-success">Edit</button>
                                            <button class="btn btn-sm btn-danger">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Second Column -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h3>Contract Setting</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label for="property-name" class="form-label">test</label>
                                        <input type="text" class="form-control" name="propertyName" id="property-name"
                                          placeholder="Enter test">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
