

table{
    text-align: center;
}

.wrapper{
    width: inherit;
}
.button-container {
    display: flex;
    gap: 5px;
}
.card-header{
    background-color: #0d6efd;
    color: white;
}

.table-buttons-container{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}