

table{
    text-align: center;
}

.wrapper{
    width: inherit;
}
.button-container {
    display: flex;
    gap: 5px;
}
.card-header{
    background-color: #0d6efd;
    color: white;
}

.table-buttons-container{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}


.product-image {
    width: 900px;
    height: 600px;
    object-fit: cover; /* Optional: crop the image to fill the area */
  }


  .table.table-striped .table-row,
  .table.table-bordered .table-row {
    cursor: pointer;
  }

  
  .table.table-striped .table-row:hover,
  .table.table-bordered .table-row:hover {
    background-color: #4f5358; /* Light Gray */
    transition: background-color 0.2s ease-in-out;
  }