<div class="row">
    <h3>Rooms of Property xxxx</h3>
    <table class="table">
        <thead class="table-primary">
            <tr>
                <th>Id</th>
                <th>Room Picture</th>
                <th>Room Code</th>
                <th>Rent Price</th>
                <th>Capacity</th>
                <th>Current Occupants</th>
                <th>Min Lease</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>