.btn-outside-container{
    /* border: 1px solid black; */
    padding-bottom: 10px;
}
.row{
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    /* border: 1px solid black; */
}

.selected-image{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0;
    padding-bottom: 0;
}

img{
    margin: 0;
}