<button class="btn btn-primary" (click)="goToRooms(this.property_id)">Back</button>
 
<div class="row">
    <h3>Add A Room</h3>
    <form enctype="multipart/form-data" (ngSubmit)="onSubmit()" #roomForm="ngForm">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label" for="roomImage">Add Images</label>
            <input
              type="file"
              class="form-control"
              (change)="onImageSelected($event)"
              id="roomImage"
              multiple
            />
          </div>
        </div>
  
        <!-- Image preview section -->
        <div class="col-md-6">
          <div *ngIf="selectedImages.length > 0" class="selected-image">
            <div *ngFor="let img of selectedImages; let i = index" class="mb-3">
              <div class="selected-image">
                <img [src]="img" alt="Selected Image" width="100" height="100" />
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label" for="rentPrice">Rent Price</label>
            <input
              type="number"
              class="form-control"
              id="rentPrice"
              [(ngModel)]="room.rent_price "
              name="rentPrice"
              required
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label" for="capacity">Capacity</label>
            <input
              type="number"
              class="form-control"
              id="capacity"
              [(ngModel)]="room.capacity"
              name="capacity"
              required
            />
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label" for="status">Status</label>
            <select
              class="form-select"
              id="status"
              [(ngModel)]="room.status"
              name="status"
              required
            >
              <option value="available">Available</option>
              <option value="rented">Rented</option>
              <option value="full">Full</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label" for="minLease">Min Lease (Months)</label>
            <input
              type="number"
              class="form-control"
              id="minLease"
              [(ngModel)]="room.min_lease"
              name="minLease"
              required
            />
          </div>
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary">Add Room</button>
    </form>
  </div>
  