<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
      <p class="card-category"><button class="btn btn-sm btn-primary"(click)="goToRooms(this.property_id)">Back</button></p>
      
      <div class="card">
        <div class="card-header card-header-primary">
          <h3 class="card-title">Add A Room</h3>
        </div>
        <div class="card-body">
          <form enctype="multipart/form-data" (ngSubmit)="onSubmit()" #roomForm="ngForm">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label" for="roomImage">Add Images</label>
                  <input
                    type="file"
                    class="form-control"
                    (change)="onImageSelected($event)"
                    id="roomImage"
                    multiple
                  />
                </div>
              </div>
        
              <!-- Image preview section -->
              <div class="col-md-6">
                <div *ngIf="selectedImages.length > 0" class="selected-image">
                  <div *ngFor="let img of selectedImages; let i = index" class="mb-3">
                    <div class="selected-image">
                      <img [src]="img" alt="Selected Image" width="100" height="100" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <!-- Description Field -->
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label" for="description">Description</label>
                  <textarea
                    class="form-control"
                    id="description"
                    [(ngModel)]="room.description"
                    name="description"
                    rows="3"
                    required
                  ></textarea>
                </div>
              </div>

              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label" for="room_details">Room Details</label>
                  <textarea 
                    class="form-control"
                    id="room_details"
                    [(ngModel)]="room.room_details"
                    name="room_details"
                    rows="2"
                    required
                  ></textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="category" class="form-label">category</label>
                  <input
                  type="text"
                  class="form-control"
                  id="category"
                  [(ngModel)]="room.category"
                  name="category"
                  required
                />          
                </div>
              </div>

              <div class="col-md-6">
                <div class="mb-3">
                  <label for="size" class="form-label">Size</label>
                  <input
                  type="text"
                  class="form-control"
                  id="size"
                  [(ngModel)]="room.size"
                  name="size"
                  required
                />          
                </div>
              </div>

            </div>
        
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label" for="rentPrice">Rent Price</label>
                  <input
                    type="number"
                    class="form-control"
                    id="rentPrice"
                    [(ngModel)]="room.rent_price "
                    name="rentPrice"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label" for="capacity">Capacity</label>
                  <input
                    type="number"
                    class="form-control"
                    id="capacity"
                    [(ngModel)]="room.capacity"
                    name="capacity"
                    required
                  />
                </div>
              </div>
            </div>
        
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label" for="status">Status</label>
                  <select
                    class="form-select"
                    id="status"
                    [(ngModel)]="room.status"
                    name="status"
                    required
                  >
                    <option value="available">Available</option>
                    <option value="rented">Rented</option>
                    <option value="under_maintenance">Under Maintenance</option>
                    <option value="full">Full</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label" for="minLease">Min Lease (Months)</label>
                  <input
                    type="number"
                    class="form-control"
                    id="minLease"
                    [(ngModel)]="room.min_lease"
                    name="minLease"
                    required
                  />
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="unit_type" class="form-label">Unit Type</label>
                  <select
                    class="form-select"
                    id="unit_type"
                    [(ngModel)]="room.unit_type"
                    name="unit_type"
                    required 
                  >
                    <option value="studio_unit">Studio Unit</option>
                    <option value="triplex_unit">Triplex Unit</option>
                    <option value="alcove">Alcove</option>
                    <option value="loft_unit">Loft Unit</option>
                    <option value="shared_unit">Shared Unit</option>
                    <option value="micro_unit">Micro Unit</option>
                  </select>
                </div>
              </div>
            </div>
        
            <button type="submit" class="btn btn-primary">Add Room</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>