
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><h3>Tenants List</h3></h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input 
              type="text" 
              name="table_search" 
              class="form-control float-right" 
              placeholder="Search"
              [(ngModel)]="searchTerm"
              (input)="filterUsers()" 
            >
          
            <div class="input-group-append">
              <button type="button" class="btn btn-default" (click)="filterUsers()"> 
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <!-- <th>User ID</th>   -->
              <th>Name</th>  
              <th>Email</th> 
              <th>occupation</th>
              <th>Status</th> 
              <th>Created Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of filteredUsers">
              <!-- <td>{{ user.id }}</td>          -->
              <td>{{ user.name }}</td>      
              <td>{{ user.email }}</td>      
              <td>{{ user.user_profile?.[0]?.occupation }}</td>
              <td>{{ user.role}}</td>  
              <td>{{ user.created_at }}</td>
              
              <td>
                <button 
                  class="btn btn-sm btn-primary" 
                  *ngIf="user.user_profile?.[0]?.id" 
                  (click)="viewUser(user.user_profile?.[0]?.id)">
                  <span class="material-icons">visibility</span>
              </button>             
             </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /.card -->
  </div>
</div>

