<div class="card-body">
    <div class="table-responsive">
        <!-- <h3 class="card-title">Pending Contract table</h3> -->
        <table class="table">
<table class="table">
    <thead class=" text-primary">
        <tr>
            <th>Tenant id</th>
            <th>Contract code</th>
            <th>Created_at</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>143</td>
            <td>0A12D3E</td>
            <td>12/12/12</td>
            <td>Accepted</td>
            <td class="td-buttons-container">
                <button class="btn btn-sm btn-danger">
                  <span class="material-icons">delete</span>
                </button>
              </td>
        </tr>
    </tbody>
</table>
