table{
  text-align: center;
}

.btn-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /* Remove internal padding */
    margin: 0; /* Remove external margins */
    width: 32px; /* Set explicit size if needed */
    height: 32px;
  }
  
  .material-icons {
    font-size: 18px; /* Adjust icon size */
    margin: 0; /* Remove extra space around the icon */
  }
  
  .badge-success{
    background-color: green;
  }