p{
    height: 100%;
    margin: 0;
}
.custom-card{
    border: 1px solid rgb(0, 0, 0);
    /* display: flex; */
    background-color: rgb(197, 238, 245);
    padding: 0;
    margin: 0;
    border-radius: 2%;
}
.row{
    --bs-gutter-x: 0;
    /* --bs-gutter-y: 0; */
    /* border: 1px solid purple; */
    width: 100%;
}
.col{
    /* border: 1px solid black; */
    width: 100%;
    
}
.card-header{
    /* border: 1px solid red; */
    width: 80px;
    height: 80px;
    position: relative;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    border-radius: 10%;
    

}
.divider{
    border: 1px solid gray;
    
}
.card-body{
    /* border: 1px solid blue; */
    height: 100%;
    
}
.card-footer{
    height: 100%;
    /* border: 1px solid green; */
    padding: 0;
    margin: 0;
    padding-left: 225px;
    
}

.more-info-link {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #534c4c;
    font-weight: 500;
    transition: color 0.2s ease;
}

.more-info-link:hover {
    text-decoration: underline;
    color: #0056b3;
}
