<div class="row">
  <!-- <div class="container"> -->
  <!-- property-page.component.html -->
  <div *ngIf="errorMessage" class="error">
    <p>{{ errorMessage }}</p>
  </div>

</div>

<div class="main-content">
  <div>
  
   
</div>

  <div class="container-fluid">
    <p class="card-category"> <button class="btn btn-sm btn-primary" (click)="goToAddPropertyPage()"> <span class="material-icons">add</span> Add New Property</button></p>

      <!-- <div class="row"> -->
          <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h3 class="card-title">Properties</h3>
                  <p class="card-description">View, manage, and track properties and their details.</p>
                </div>
                
                  <div class="card-body">
                      <div class="table-responsive">
                        <table *ngIf="properties.length > 0" class="table">
                          <thead class="text-primary">
                            <tr>
                              <th>ID</th>
                              <th>IMAGES</th>
                              <th>NAME</th>
                              <th>ADDRESS</th>
                              <th>GENDER</th>
                              <th>PETS?</th>
                              <th>STATUS</th>
                              <th>TYPE</th>
                              <th>ACTION</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let property of properties">
                              <td>{{ property.id }}</td>
                              <td>
                                <img *ngIf="property.property_picture_url.length > 0; else noImage" 
                                     [src]="property.property_picture_url[0]" 
                                     alt="Property Image" 
                                     style="height: 100px; width: 100px; object-fit: cover;">
                                <ng-template #noImage>
                                  <span>No Image Available</span>
                                </ng-template>
                              </td>
                              <td>{{ property.name }}</td>
                              <td>
                                {{property.address.line_1}}
                                {{property.address.line_2}}
                                {{property.address.province}}
                                {{property.address.postal_code}}
                              </td>
                              <td [style.color]="property.gender_allowed === 'boys-only' ? 'blue' : 'pink'">
                                {{ property.gender_allowed }}
                              </td>
                              <td [style.color]="property.pets_allowed ? 'green' : 'red'">
                                {{ property.pets_allowed ? 'Allowed' : 'N-A' }}
                              </td>
                              <td [style.color]="property.status === 'available' ? 'green' : property.status === 'rented' ? 'orange' : 'red'">
                                {{ property.status }}
                              </td>
                              <td>{{ property.type }}</td>
                              <td>
                                <div class="td-buttons-container">
                                  <button class="btn btn-sm btn-info" (click)="goToViewRoomsPage(property.id)">rooms</button>
                                <button class="btn btn-sm btn-success" (click)="goToUpdatePage(property.id)"> Update</button>
                                <button class="btn btn-sm btn-danger" (click)="deleteProperty(property.id)">Delete</button>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  <!-- </div> -->
</div>

