.wrapper {
    width: 100%; /* Ensure wrapper spans full width */
    box-sizing: border-box; /* Includes padding and border in width */
    overflow: hidden;
    padding-left: 10px;
}


.appcard-box {
    flex: 1 1 300px; /* Flexbox behavior - grow, shrink, base size */
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
}

/* Row settings */
.row {
    --bs-gutter-x:0;
    padding: 16px;
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.col {
    /* border: 1px solid black; */
    display: flex;
    gap: 20px;
}

/* Card body */

.box {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 100px;  /* Ensures box has a minimum width */
    /* max-width: ; */
    padding: 16px;
    box-sizing: border-box;
    
    /* Optional: max-height can help control how tall the box can be */
    min-height: 300px; 
}

.chart-container {
    flex-grow: 1;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
}

@media (max-width: 522px) {
    /* Ensure the custom card element takes full width and adjusts height accordingly */
    app-custom-card {
        width: 100%;
        height: 82px;  /* Adjust height to your preferred value */
        margin-bottom: 10px;  /* Optional: space between stacked cards */
    }

    /* Ensure appcard-box stays within expected limits */
    .appcard-box {
        flex: none; 
        width: 100%;  /* Full width on smaller screens */
        min-height: 82px;  /* Avoid shrinking too small */

    }

    .row {
        flex-direction: column;  /* Stack the items in a column */
        gap: 20px;  /* Optional: adjust the gap between stacked elements */
    }

    /* Adjust box size on smaller screens */
    .box {
        width: 100%;  /* Ensure box takes full width on smaller screens */
        min-height: 150px;  /* Optional: control box height when stacking */
    }
}
