table,td {
    text-align: center;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-container{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    gap: 5px;
    justify-content: center;
    align-self: center;
}
.badge-success {
    background-color: green;
}
.badge-warning {
    background-color: orange;
}
.card-header{
    background-color: #007bff;
    color: white;
}